@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap";
@import "vendors/bootstrap/bootstrap-grid";
@import "vendors/bootstrap/bootstrap-reboot";
@import "vendors/bootstrap/media";
// Options
$color-white: #fff;
$color-gray: #4F5362;

//FONTS
$font-default: Arial, Helvetica, sans-serif;
$font-montserrat: Montserrat, $font-default;

$transition: .2s;

//partials
@import "partials/header";

//Modules
@import "modules/hero-banner";
@import "modules/user";

//Vendors
@import "../../node_modules/slick-carousel/slick/slick.scss";

body {
	background: #979797 url(../images/bg.jpg) no-repeat fixed center;
	background-size: cover;
	color: $color-white;
	font: 300 14px/24px $font-montserrat;
}
section .container {
	max-width: 1120px;
}

a:hover {
	text-decoration: none;
}

.d-block {
	display: block !important;
}

.d-none {
	display: none !important;
}