include _inc/_general-variables.pug
- var pagename = "Ana Sayfa - Singleton"
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title #{pagename}
        meta(name="robots" content="noindex, nofollow")
        meta(http-equiv='X-UA-Compatible', content='IE=11')
        // Mobile Specific Metas
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel="shortcut icon" href= assets + "images/logo.png" type="image/x-icon")
        link(rel='stylesheet', href= assets + 'styles/screen.css')

    body(data-role='home')
        include _inc/_header.pug
        section
            .container
                .row
                    .col-md-12
                        div#hero-banner-tabs
                            a.active(href="javascript:;", data-target="#hero-banner") TESTIMONIALS
                            a(href="javascript:;", data-target="#hero-banner-2") FEEDBACKS
                        div#hero-banner.hero-banner
                            div “Your affordability calculator saved me some serious time to focus on what I can actually buy.”
                            div “Lorem, ipsum dolor sit amet consectetur adipisicing elit.”
                        div#hero-banner-2.hero-banner.d-hidden
                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. A et molestias dolor consectetur? 
                            div Lorem ipsum dolor sit amet consectetur adipisicing elit. 

        section
            .container
                .row
                    -
                        var users = [
                            {
                                image: "Userpic.jpg",
                                text: "APPLE",
                                linkTwitter: "//www.twitter.com",
                                linkFacebook: "",
                                linkGoogleplus: "https://www.google.com/search?hl=tr&source=hp&ei=A_1cX7WUEumTlwTy1Z6gDw&q=google%2B&oq=google%2B&gs_lcp=CgZwc3ktYWIQAzIFCAAQsQMyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6CAgAELEDEIMBOggILhCxAxCDAUoFCAQSATFKBQgHEgExSgUICRIBMUoFCAoSATdQpARY4SFgjSRoAHAAeACAAaoBiAGBB5IBAzAuN5gBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwj1oa6diuTrAhXpyYUKHfKqB_QQ4dUDCAY&uact=5",
                                linkDribble: "//www.drible.com"
                            },
                            {
                                image: "Userpic-2.jpg",
                                text: "GOOGLE",
                                linkTwitter: "//www.twitter.com",
                                linkFacebook: "//www.facebook.com",
                                linkGoogleplus: "",
                                linkDribble: "//www.drible.com"
                            },
                            {
                                image: "Userpic-3.jpg",
                                text: "TESLA",
                                linkTwitter: "//www.twitter.com",
                                linkFacebook: "",
                                linkGoogleplus: "",
                                linkDribble: ""
                            }
                        ]
                    each item, index in users
                        .col-md-4
                            .user 
                                div
                                    figure
                                        img(src= assets + "images/" + item.image, alt= item.text)
                                div
                                    header #{item.text}
                                    .links
                                        if item.linkTwitter != ""
                                            a(href=item.linkTwitter, tagget="_blank") 
                                                svg(data-name="Twitter" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 612 497.12")
                                                    title Twitter
                                                    path(d="M612,58.82a250.71,250.71,0,0,1-72.09,19.77A126.07,126.07,0,0,0,595.1,9.18a253.1,253.1,0,0,1-79.78,30.48A125.64,125.64,0,0,0,301.39,154.12,356.43,356.43,0,0,1,42.64,22.95,125.69,125.69,0,0,0,81.5,190.53a125.56,125.56,0,0,1-56.87-15.76v1.57a125.67,125.67,0,0,0,100.69,123.1,127.17,127.17,0,0,1-33.08,4.4,120.5,120.5,0,0,1-23.63-2.33A125.61,125.61,0,0,0,185.86,388.7,251.89,251.89,0,0,1,29.94,442.35,266.81,266.81,0,0,1,0,440.63a354.88,354.88,0,0,0,192.44,56.49c230.95,0,357.19-191.29,357.19-357.19l-.42-16.25A250.7,250.7,0,0,0,612,58.82Z" transform="translate(0)")
                                        if item.linkFacebook != ""
                                            a(href=item.linkFacebook, tagget="_blank") 
                                                svg(data-name="Facebook" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 200.72 430.11")
                                                    title Facebook
                                                    path(d="M43.38,83.3v59.22H0v72.41H43.38V430.11H132.5V214.94h59.8s5.6-34.72,8.32-72.68H132.84V92.74c0-7.4,9.72-17.35,19.32-17.35h48.56V0h-66C41.18,0,43.38,72.48,43.38,83.3Z")

                                        if item.linkGoogleplus != ""
                                            a(href=item.linkGoogleplus, tagget="_blank") 
                                                svg(viewbox="0 0 458.25 293.21" xmlns="http://www.w3.org/2000/svg")
                                                    title Google Plus
                                                    path(d="m160.78 176.85h71.59a91.1 91.1 0 0 1 -86.45 60.71c-48.35-.36-88.33-39-90.2-87.35a90.91 90.91 0 0 1 151.94-71 9.86 9.86 0 0 0 13.41 0l26.3-24.75a9.83 9.83 0 0 0 0-14.29 146.06 146.06 0 0 0 -97.85-40.17c-80.82-1.55-148.95 64.72-149.52 145.56a146.6 146.6 0 0 0 293 9.29c.11-1 .19-33.65.19-33.65h-132.41a9.82 9.82 0 0 0 -9.78 9.8v36a9.82 9.82 0 0 0 9.78 9.85z")
                                                    path(d="m414.46 124.47v-35.17a8.61 8.61 0 0 0 -8.61-8.61h-29.6a8.61 8.61 0 0 0 -8.61 8.61v35.17h-35.17a8.61 8.61 0 0 0 -8.61 8.61v29.6a8.61 8.61 0 0 0 8.61 8.61h35.17v35.17a8.61 8.61 0 0 0 8.61 8.61h29.6a8.61 8.61 0 0 0 8.61-8.61v-35.17h35.17a8.61 8.61 0 0 0 8.61-8.61v-29.6a8.61 8.61 0 0 0 -8.61-8.61z")

                                        if item.linkDribble != ""
                                            a(href=item.linkDribble, tagget="_blank") 
                                                    svg#Capa_1(data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512")
                                                        title Dirbble
                                                        path(d="M256,0C115,0,0,115.05,0,256S115.05,512,256,512,512,397,512,256,397,0,256,0ZM429.64,111.51A224.94,224.94,0,0,1,482,252.4c-40.06-9.37-84.55-10-129.86-1.74q-17.68,3.22-35.3,8.16-5.85-15.91-12.44-31.55-6.74-15.95-14.19-31.38C344.15,175.27,402.65,144.57,429.64,111.51ZM256,30A225.14,225.14,0,0,1,408.7,89.54C393,111,348.26,142.12,276.48,169A652,652,0,0,0,186.65,40.9,225,225,0,0,1,256,30ZM157,52.9a624.34,624.34,0,0,1,91,126c-74.68,24.17-150.29,34-212.46,27.66A226.84,226.84,0,0,1,157,52.9ZM30,256c0-6.64.31-13.21.87-19.7a408,408,0,0,0,42.82,2.18c58.33,0,123.86-11.22,188.21-32.53a659.76,659.76,0,0,1,26.44,62,419.37,419.37,0,0,0-72.44,34.14c-56.22,33.47-97.35,76.53-114.41,118.71A225.41,225.41,0,0,1,30,256ZM256,482a224.72,224.72,0,0,1-129.86-41.14c11.4-38.52,50-80.19,105.11-113a387,387,0,0,1,66.88-31.36,702.86,702.86,0,0,1,31.68,173.13A225,225,0,0,1,256,482Zm103.07-24.9a726,726,0,0,0-32.45-169.64c48.6-13.36,102.58-17.84,153.77-4.56C471.33,358.91,424.41,423.47,359.07,457.1Z")

        include _inc/_footer.pug
        //- script.
            //- $(document).ready(function () {
            //    
            //- });

