#hero-banner-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 94px;
	margin-top: 64px;
	a {
		border: 2px solid $color-white;
		color: $color-white;
		height: 50px;
		line-height: 50px;
		text-align: center;
		transition: $transition;
		width: 210px;
		&:first-child {
			border-bottom-left-radius: 25px;
			border-top-left-radius: 25px;
		}
		& + a {
			border-bottom-right-radius: 25px;
			border-top-right-radius: 25px;
		}
		&.active {
			background-color: $color-white;
			color: #4F5362;
		}
		&:not(.active):hover {
			background-color: rgba($color-white, .25);
		}
	}
}
.hero-banner {
	align-items: center;
	display: flex !important;
	margin-bottom: 100px;
	text-align: center;
	&.d-hidden {
		height: 0;
		margin-bottom: 0;
		opacity: 0;
		visibility: hidden;
	}

	.slick-track {
		display: flex;
	}
	.slick-track .slick-slide {
		display: flex;
		height: auto;
		align-items: center;
		justify-content: center;
	}
	.slick-slide {
		font-size: 52px;
		font-weight: 800;
		line-height: normal;
		@include media-breakpoint-down(xl) {
			font-size: 42px;
		}
		@include media-breakpoint-down(md) {
			font-size: 32px;
		}
	}

	.slick-button {
		transition: $transition;
		&:hover { 
			cursor: pointer;
		}
		&.slick-prev, &.slick-next { 
			&:before {
				border: 3px solid $color-white;
				border-top-width: 0;
				content: "";
				display: block;
				height: 25px;
				width: 25px;
			}
		}
		&.slick-prev {
			&:before {
				border-right-width: 0;
				transform: rotate(45deg);
			}
		}
		&.slick-next {
			&:before {
				border-left-width: 0;
				transform: rotate(-45deg);
			}
		}
		&.slick-disabled {
			opacity: .25;
		}
	}
}