.user {
	display: flex;
	background-color: rgba($color-gray, .50);
	border-radius: 4px;
	color: $color-white;
	padding: 24px 25px;
	transition: $transition;
	@include media-breakpoint-down(md) {
		margin-bottom: 20px;
	}
	&:hover {
		background-color: $color-white;
		color: $color-gray;
		svg {
			fill: $color-gray;
		}
	}
	figure {
		border-radius: 50%;
		display: inline-block;
		margin: 0 20px 0 0;
		overflow: hidden;
	}
	header {
		font-size: 14px;
		letter-spacing: 1.2px;
	}
	div {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.links {
		flex-direction: row;
		justify-content: flex-start;
		margin: 0;
		a {
			margin-right: 10px;
			transition: $transition;
			&:hover {
				transform: scale(1.2);
			}
			@include media-breakpoint-down(md) {
				margin-right: 15px;
			}
		}
	}
	svg {
		fill: $color-white;
		height: 17px;
		width: 17px;
	}
}